/*
	The best stylesheets are simple.
	Stylesheet goal: <100 lines 
*/

/*
	mint green: 42f492
	blue: 73D1E8
	purple: BD7FFF
	red: FF614C
	orange: FFE135
*/

html, body{
	width: 72%; /* considering switching this to 680px */
    margin: auto;
    font-family: 'Tangerine', sans-serif;
    line-height: 1.45;
    background-color: #42f492;
}

p, a{
	color: #5A5A5A;
	text-align: center;
	font-family: 'Tangerine', sans-serif;
	font-size: 30px;
}

p{
	padding-top: 3%;
}

div{
	border-radius: 15px;
	border-style: solid;
	border-width: 1px;
}

#nav{ /* navigation bar, not completely happy with this */
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #73D1E8;
	text-align: justify;
	min-width:500px;
}
#nav:after{
	content: '';
    display: inline-block;
    width: 100%;
}
#nav:li {
    display: inline-block;
	/*border-right: 1px solid #fff;*/
}

/*li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 20px;
}*/

li a:hover { /* changes link color on hover */
    background-color: #777;
}

li:nth-last-child(-n+1) { /* change the # to however many elements*/
	float: right;
	background-color: #BD7FFF;
	/*border-left: 1px solid #fff;*/
}

li:nth-last-child(1) {
    border-left: 1px solid #fff;
}

#comicContainer{	
	background-color: #FFFFFF;
}

img{
	width: 95%;
	height: 95%;
	padding: 2.5%;*/
}

#arrow{
	height: 20px;
	width: auto;
}

#caption{
	padding-top: 0px;
	font-size: 20px;
}